<style>
  @import url('https://fonts.googleapis.com/css?family=Montserrat:600|Noto+Sans|Open+Sans:400,700&display=swap');

  .body {
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    /* background: url(../../static/img/login.jpeg) no-repeat center center fixed;   */
    /* background-size: cover; */
    /* background-position: center 75%; */
    /*  ^ image of salmon background */
    background-color: black;
    width: 100%;
    font-family: sans-serif;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .grid-container {
    padding: 50px 10px;
    width: 500px;
    height: 400px;
    border-radius: 8px;
    background-color: rgba(246, 251, 255, 0.9);
    border: 1px black;
    text-align: center;
  }

  h1 {
    margin-bottom: 30px;
  }

  .holder {
    margin: 25px;
    width: 100%;
    position: relative;
  }

  form input {
    border-radius: 10px;
    padding-left: 0px;
    height: 30px;
    font-size: 19px;
    border: 1px;
  }

  input:focus {
    border: 1px solid #000000;
  }

  p {
    padding: 5px;
  }

  button {
    transition-duration: 0.4s;
    padding: 6px 10px;
    cursor: pointer;
    font-size: 15px;
    text-decoration: none;
    border-radius: 12px;
  }

  .login input {
    padding-left: 15px;
  }

  .password input {
    padding-left: 10px;
  }

  button:hover{
    opacity: 10;
    padding: 10px;
    display: inline-block;
  }

  .registerbtn {
    background-color: white;
    color: black;
    border: 2px solid #000000;
    text-decoration: none;
    margin: 10px;
  }

  .cancelbtn {
    background-color: white;
    color: black;
    border: 2px solid #000000;
    text-decoration: none;
    margin: 10px;
  }

  /* .submitbutton:hover,
  .registerbtn:hover {
    color: white;
    text-decoration: none;
  } */

  a {
    text-decoration: none;
    color: black;
  }

  .submitbutton {
    padding: 1px 8px;
    color: black;
    border: 2px solid #000000;
    text-decoration: none;
    margin: 10px;
  }

  .msg {
    color: rgb(162, 26, 26);
    font-weight: bold;
    font-size: 24px;
  }
</style>
<div class="body">
  <div>
    <div class="grid-container">
      {% for message in get_flashed_messages() %}

      <div role="alert" , class="msg">{{ message }}</div>

      {% endfor %}
      <h1>BC CAHS </h1>
      <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="item">

          <p> User Name </p>
          <p class="login">{{ form.username }}</p>
          <p> Password </p>
          <p class="password">{{ form.password }}</p>
          <button class="submitbutton">{{ form.submit }}</button>

      </form>
    </div>
    <button class="registerbtn">
      <b><a href="{{url_for('register')}}">Register</a><br></b>
  </div>
  </button>
  </hr>
</div>
</div>
</div>

<!-- {% if form.username.errors %}
<ul class="errors">
  {% for error in form.username.errors %}
  <li>{{ error }}</li>
  {% endfor %}
</ul>
{% endif %} -->