{% extends "public/templates/public_template.html" %}
{% block internal_css %}
<style>
    #loader {margin-top: 5rem;}
</style>
{% endblock %}
{% block title %}Home{% endblock %}
{% block main %}

<div class="container ">
    <div class="row">
        <div class="col">
            <h1>Visualization</h1>
            <hr>

            <div id="dataviz-alert" class="alert alert-info" role="alert" hidden="true">
                <span id="alert-message"></span>
                <button id="alert-hide-button" type="button" class="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <form id="filters-form">
                <div>    
                    <label for="start-date">Start Date</label>
                    <input type="date" id="start-date" name="start-date">

                    <label for="end-date">End Date</label>
                    <input type="date" id="end-date" name="end-date">

                    <label for="sample-type">Select sample type</label>
                    <select name="sample-type" id="sample-type">
                        <option value="All">All</option>
                        <option value="iofilm">Biofilm</option>
                        <option value="ish">Fish</option>
                        <option value="ater">Water</option>
                    </select>
                    <div>
                        <label for="abund-slider">Minimum relative abundance threshold</label>
                        <input name="abund-slider" id="abund-slider" type="range" min="2" max="100" value="2" class="slider">
                        <span id="abund-value"></span>
                        
                        <button type="submit" class="btn btn-primary" id="submit-button" name="submit-button" value="submit">Submit</button>
                    </div>
                </div>
            </form>

            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status" id="loader" hidden="true">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            
            <div class="row" id="dataviz-container" hidden="true">
                <div class="column">
                    <img id="viz1" src="" height="333" width="500">
                </div>
                <div class="column">
                    <img id="viz2" src="" height="333" width="500">
                </div>
            </div> 

        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script defer type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/dataviz_loader.js') }}"></script>
<script>
    const rangeslider = document.getElementById('abund-slider'),
        output = document.getElementById('abund-value')
    output.innerHTML = rangeslider.value * 0.005

    rangeslider.oninput = () => {
        output.innerHTML = (rangeslider.value * 0.005).toFixed(3)
    }
</script>
{% endblock %}